#debugHost {
	height: 100%; color: rgb(74, 74, 74); font-size: 12px;
}
#debugHostBtn a {
	background: url("images/variables_on.svg"), linear-gradient(transparent, transparent);
}
.hashover #debugHostBtn a:hover {
	background: url("images/variables_hover.svg"), linear-gradient(transparent, transparent);
}
#debugHostBtn a.selected {
	background: url("images/variables_off.svg"), linear-gradient(transparent, transparent);
}
#debugHostBtn a.selected:hover {
	background: url("images/variables_off.svg"), linear-gradient(transparent, transparent);
}
#debugHeader .pageNameHeader {
	padding-right: 0px;
}
#variablesClearLink {
	margin-bottom: 15px; display: inline-block;
}
#variablesClearLink:hover {
	color: rgb(10, 108, 214);
}
#traceClearLink {
	margin-bottom: 15px; display: inline-block;
}
#traceClearLink:hover {
	color: rgb(10, 108, 214);
}
#debugScrollContainer {
	width: 100%; height: 100%; overflow: auto; -webkit-overflow-scrolling: touch;
}
#debugContainer {
	padding: 10px;
}
.variableName {
	font-weight: bold;
}
.variableDiv {
	line-height: 16px; margin-bottom: 20px;
}
#variablesContainer {
	padding-bottom: 5px;
}
#traceContainer {
	padding-top: 15px;
}
.debugToolbarButton {
	color: rgb(0, 102, 153); font-size: 1em;
}
.axEventBlock {
	margin: 5px 0px; width: 100%; line-height: 21px; display: inline-block;
}
.axTime {
	margin: 0px; color: rgb(177, 179, 181); font-size: 11px;
}
.axLabel {
	margin: 0px 0px 5px; font-family: "Trebuchet MS"; font-size: 14px; font-weight: bold;
}
.lastAxEvent {
	padding-bottom: 10px; margin-bottom: 10px; border-bottom-color: rgb(194, 194, 194); border-bottom-width: 1px; border-bottom-style: solid;
}
.axEvent {
	margin: 0px 0px 5px; font-weight: bold;
}
.axCase {
	margin: 0px 0px 5px 8px; font-style: italic;
}
.axAction {
	margin: 0px 0px 5px 13px;
}
.emptyStateContainer#traceEmptyState {
	margin-top: 0px;
}
.debugLinksContainer {
	text-align: right;
}
