body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:655px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:655px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:67px;
  width:50px;
  height:42px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:200px;
  width:21px;
  height:21px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:260px;
  width:21px;
  height:21px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:290px;
  width:21px;
  height:21px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:230px;
  width:21px;
  height:21px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:198px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:152px;
  width:732px;
  height:198px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:198px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:351px;
  width:739px;
  height:198px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:351px;
  width:281px;
  height:198px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:374px;
  width:88px;
  height:22px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:427px;
  width:198px;
  height:61px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:152px;
  width:288px;
  height:198px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:175px;
  width:88px;
  height:22px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:228px;
  width:199px;
  height:61px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:320px;
  width:21px;
  height:21px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:612px;
  width:48px;
  height:25px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:16px;
  width:48px;
  height:25px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:79px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:77px;
  height:79px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u24.a {
}
#u24_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:655px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.a {
}
#u25.a {
}
#u25_img.a {
}
#u25.a {
}
#u26.a {
}
#u26_img.a {
}
#u26.a {
}
#u27.a {
}
#u27_img.a {
}
#u27.a {
}
#u28.a {
}
#u28_img.a {
}
#u28.a {
}
#u29.a {
}
#u29_img.a {
}
#u29.a {
}
#u30.a {
  width:720px;
}
#u30_img.a {
  width:720px;
}
#u30.a {
  width:720px;
}
#u31.a {
  left:390px;
  width:720px;
}
#u31_img.a {
  width:720px;
}
#u31.a {
  left:390px;
  width:720px;
}
#u32.a {
  width:300px;
}
#u32_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32.a {
  width:300px;
}
#u33.a {
  left:113px;
}
#u33_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.a {
  left:113px;
}
#u33_text.a {
}
#u34.a {
  left:113px;
  width:197px;
}
#u34_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.a {
  left:113px;
  width:197px;
}
#u34_text.a {
  width:197px;
}
#u35.a {
  left:810px;
  width:300px;
}
#u35_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.a {
  left:810px;
  width:300px;
}
#u36.a {
  left:889px;
}
#u36_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.a {
  left:889px;
}
#u36_text.a {
}
#u37.a {
  width:207px;
}
#u37_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.a {
  width:207px;
}
#u37_text.a {
  width:207px;
}
#u38.a {
}
#u38_img.a {
}
#u38.a {
}
#u40.a {
}
#u40_img.a {
}
#u40.a {
}
#u41.a {
}
#u41_img.a {
}
#u41.a {
}
#u42.a {
}
#u42_img.a {
}
#u42.a {
}
#u42_text.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u24.b {
  width:1024px;
  height:656px;
}
#u24_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:656px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.b {
  width:1024px;
  height:656px;
}
#u25.b {
  left:925px;
}
#u25_img.b {
}
#u25.b {
  left:925px;
}
#u26.b {
  left:943px;
}
#u26_img.b {
}
#u26.b {
  left:943px;
}
#u27.b {
  left:943px;
}
#u27_img.b {
}
#u27.b {
  left:943px;
}
#u28.b {
  left:943px;
}
#u28_img.b {
}
#u28.b {
  left:943px;
}
#u29.b {
  left:943px;
}
#u29_img.b {
}
#u29.b {
  left:943px;
}
#u30.b {
  width:571px;
}
#u30_img.b {
  width:571px;
}
#u30.b {
  width:571px;
}
#u31.b {
  left:390px;
  width:519px;
}
#u31_img.b {
  width:519px;
}
#u31.b {
  left:390px;
  width:519px;
}
#u32.b {
  width:300px;
}
#u32_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32.b {
  width:300px;
}
#u33.b {
  left:110px;
}
#u33_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.b {
  left:110px;
}
#u33_text.b {
}
#u34.b {
  left:111px;
  top:416px;
  width:210px;
}
#u34_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.b {
  left:111px;
  top:416px;
  width:210px;
}
#u34_text.b {
  width:210px;
}
#u35.b {
  left:662px;
  width:246px;
}
#u35_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.b {
  left:662px;
  width:246px;
}
#u36.b {
  left:690px;
  top:174px;
}
#u36_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.b {
  left:690px;
  top:174px;
}
#u36_text.b {
}
#u37.b {
  left:691px;
  top:227px;
  width:208px;
}
#u37_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.b {
  left:691px;
  top:227px;
  width:208px;
}
#u37_text.b {
  width:208px;
}
#u38.b {
  left:943px;
}
#u38_img.b {
}
#u38.b {
  left:943px;
}
#u40.b {
  left:480px;
}
#u40_img.b {
}
#u40.b {
  left:480px;
}
#u41.b {
  left:480px;
}
#u41_img.b {
}
#u41.b {
  left:480px;
}
#u42.b {
}
#u42_img.b {
}
#u42.b {
}
#u42_text.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u24.c {
  width:768px;
  height:656px;
}
#u24_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:656px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.c {
  width:768px;
  height:656px;
}
#u25.c {
  left:709px;
}
#u25_img.c {
}
#u25.c {
  left:709px;
}
#u26.c {
  left:720px;
}
#u26_img.c {
}
#u26.c {
  left:720px;
}
#u27.c {
  left:720px;
}
#u27_img.c {
}
#u27.c {
  left:720px;
}
#u28.c {
  left:720px;
}
#u28_img.c {
}
#u28.c {
  left:720px;
}
#u29.c {
  left:720px;
}
#u29_img.c {
}
#u29.c {
  left:720px;
}
#u30.c {
  width:412px;
}
#u30_img.c {
  width:412px;
}
#u30.c {
  width:412px;
}
#u31.c {
  left:288px;
  width:402px;
}
#u31_img.c {
  width:402px;
}
#u31.c {
  left:288px;
  width:402px;
}
#u32.c {
  width:200px;
}
#u32_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32.c {
  width:200px;
}
#u33.c {
  left:110px;
  top:381px;
}
#u33_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.c {
  left:110px;
  top:381px;
}
#u33_text.c {
}
#u34.c {
  left:111px;
  top:434px;
  width:155px;
}
#u34_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.c {
  left:111px;
  top:434px;
  width:155px;
}
#u34_text.c {
  width:155px;
}
#u35.c {
  left:502px;
  width:188px;
}
#u35_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.c {
  left:502px;
  width:188px;
}
#u36.c {
  left:512px;
  top:177px;
}
#u36_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.c {
  left:512px;
  top:177px;
}
#u36_text.c {
}
#u37.c {
  left:515px;
  top:230px;
  width:153px;
}
#u37_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.c {
  left:515px;
  top:230px;
  width:153px;
}
#u37_text.c {
  width:153px;
}
#u38.c {
  left:720px;
}
#u38_img.c {
}
#u38.c {
  left:720px;
}
#u40.c {
  left:370px;
  top:605px;
}
#u40_img.c {
}
#u40.c {
  left:370px;
  top:605px;
}
#u41.c {
  left:370px;
}
#u41_img.c {
}
#u41.c {
  left:370px;
}
#u42.c {
}
#u42_img.c {
}
#u42.c {
}
#u42_text.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u24.d {
  width:480px;
  height:656px;
}
#u24_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:656px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.d {
  width:480px;
  height:656px;
}
#u25.d {
  left:411px;
  top:25px;
}
#u25_img.d {
}
#u25.d {
  left:411px;
  top:25px;
}
#u26.d {
  left:720px;
}
#u26_img.d {
}
#u26.d {
  left:720px;
}
#u27.d {
  left:720px;
}
#u27_img.d {
}
#u27.d {
  left:720px;
}
#u28.d {
  left:720px;
}
#u28_img.d {
}
#u28.d {
  left:720px;
}
#u29.d {
  left:720px;
}
#u29_img.d {
}
#u29.d {
  left:720px;
}
#u30.d {
  width:220px;
}
#u30_img.d {
  width:220px;
}
#u30.d {
  width:220px;
}
#u31.d {
  left:210px;
  top:350px;
  width:246px;
  height:189px;
}
#u31_img.d {
  width:246px;
  height:189px;
}
#u31.d {
  left:210px;
  top:350px;
  width:246px;
  height:189px;
}
#u32.d {
  top:350px;
  width:120px;
  height:189px;
}
#u32_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:189px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32.d {
  top:350px;
  width:120px;
  height:189px;
}
#u33.d {
  left:91px;
  top:379px;
}
#u33_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.d {
  left:91px;
  top:379px;
}
#u33_text.d {
}
#u34.d {
  left:93px;
  top:426px;
  width:88px;
}
#u34_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.d {
  left:93px;
  top:426px;
  width:88px;
}
#u34_text.d {
  width:88px;
}
#u35.d {
  left:310px;
  width:146px;
}
#u35_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.d {
  left:310px;
  width:146px;
}
#u36.d {
  left:313px;
}
#u36_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.d {
  left:313px;
}
#u36_text.d {
}
#u37.d {
  left:313px;
  width:123px;
}
#u37_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.d {
  left:313px;
  width:123px;
}
#u37_text.d {
  width:123px;
}
#u38.d {
  left:720px;
}
#u38_img.d {
}
#u38.d {
  left:720px;
}
#u40.d {
  left:216px;
}
#u40_img.d {
}
#u40.d {
  left:216px;
}
#u41.d {
  left:216px;
}
#u41_img.d {
}
#u41.d {
  left:216px;
}
#u42.d {
}
#u42_img.d {
}
#u42.d {
}
#u42_text.d {
}
