body {
	overflow: hidden; font-family: Arial, Helvetica, Sans-Serif; background-color: rgb(143, 148, 154);
}
a {
	cursor: pointer;
}
input[type='radio'] {
	margin: 0px 9px 0px 0px; vertical-align: bottom;
}
input[type='checkbox'] {
	margin: 0px 9px 0px 0px; vertical-align: bottom;
}
input {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
#maximizePanelContainer {
	left: 0px; top: 0px; width: 55px; height: 20px; overflow: visible; font-size: 4px; position: absolute; z-index: 1000;
}
#maximizePanelOver {
	left: 0px; top: 0px; width: 55px; height: 20px; position: absolute;
}
.maximizePanel {
	background: url("../images/expand.svg") no-repeat center, linear-gradient(rgba(200, 200, 200, 0.5), rgba(200, 200, 200, 0.5)); left: 0px; top: 0px; width: 55px; height: 20px; position: absolute; cursor: pointer;
}
#interfaceControlFrameMinimizeContainer {
	left: 0px; top: 0px; width: 55px; height: 20px; text-align: right; font-size: 2px; position: absolute; z-index: 100; background-color: rgb(98, 102, 107);
}
#interfaceControlFrameMinimizeContainer a {
	background: url("../images/close.svg") no-repeat center, linear-gradient(transparent, transparent); width: 55px; height: 20px; font-size: 2px; text-decoration: none; display: inline-block;
}
.hashover #interfaceControlFrameMinimizeContainer a:hover {
	background: url("../images/close_hover.svg") no-repeat center, linear-gradient(transparent, transparent);
}
#interfaceControlFrame {
	margin: 0px 0px 0px 55px;
}
#interfaceControlFrameCloseContainer {
	left: 0px; width: 55px; text-align: center; bottom: 0px; letter-spacing: 1px; font-family: "Trebuchet MS"; font-size: 9px; font-weight: bold; position: absolute; z-index: 100; background-color: rgb(98, 102, 107);
}
#interfaceControlFrameCloseContainer a {
	padding: 5px 0px; width: 55px; color: rgb(255, 255, 255); display: inline-block;
}
#interfaceControlFrameHeader li a {
	background-position: 50% 17px; width: 54px; height: 78px; text-align: center; color: rgb(255, 255, 255); padding-top: 50px; text-decoration: none; margin-right: 1px; border-right-color: transparent; border-left-color: transparent; border-right-width: 4px; border-left-width: 4px; border-right-style: solid; border-left-style: solid; display: block; white-space: nowrap; box-sizing: border-box; background-repeat: no-repeat; background-color: transparent; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.hashover #interfaceControlFrameHeader li a:hover {
	background-position: 50% 17px; color: rgb(194, 194, 194); background-repeat: no-repeat; background-color: transparent;
}
#interfaceControlFrameHeader li a.selected {
	background-position: 50% 17px; color: rgb(98, 102, 107); border-left-color: rgb(19, 140, 221); border-left-width: 5px; border-left-style: solid; background-repeat: no-repeat; background-color: rgb(245, 245, 245);
}
#interfaceControlFrameHeader li a.selected:hover {
	background-position: 50% 17px; color: rgb(98, 102, 107); border-left-color: rgb(19, 140, 221); border-left-width: 5px; border-left-style: solid; background-repeat: no-repeat; background-color: rgb(245, 245, 245);
}
#interfaceControlFrameHeaderContainer {
	width: 55px; overflow: visible; margin-top: 20px; margin-left: -55px; float: left;
}
#interfaceControlFrameHeader {
	list-style: none; letter-spacing: 1px; font-family: "Trebuchet MS"; font-size: 8px; font-weight: bold; position: relative; z-index: 50;
}
#interfaceControlFrameContainer {
	width: 100%; overflow: hidden; float: right; background-color: rgb(245, 245, 245);
}
#interfaceControlFrameLogoContainer {
	padding: 20px 10px 10px; overflow: hidden; background-color: white;
}
#interfaceControlFrameLogoImageContainer {
	text-align: center;
}
#interfaceControlFrameLogoCaptionContainer {
	margin: 5px 10px 0px; text-align: center; color: rgb(74, 74, 74); font-size: 12px;
}
#logoImage {
	width: 100%;
}
.emptyStateContainer {
	padding: 0px 10px; text-align: center; margin-top: 32px;
}
.emptyStateTitle {
	margin: 0px 0px 9px; font-weight: bold;
}
.emptyStateContent {
	line-height: 16px;
}
.dottedDivider {
	background: url("../images/divider.svg") no-repeat center, linear-gradient(transparent, transparent); margin: 15px 0px; height: 2px;
}
.nondottedDivider {
	margin: 9px 0px; height: 2px;
}
