body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1278px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:656px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:656px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:86px;
  width:191px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:50px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:85px;
  width:44px;
  height:50px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:141px;
  width:442px;
  height:448px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1022px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u116.a {
  width:1022px;
}
#u116_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:656px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116.a {
  width:1022px;
}
#u117.a {
  left:61px;
}
#u117_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u117.a {
  left:61px;
}
#u117_text.a {
}
#u118.a {
  left:895px;
}
#u118_img.a {
}
#u118.a {
  left:895px;
}
#u119.a {
  left:347px;
  width:387px;
}
#u119_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u119.a {
  left:347px;
  width:387px;
}
#u119_text.a {
  width:387px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:766px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u116.b {
  width:766px;
}
#u116_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:656px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116.b {
  width:766px;
}
#u117.b {
  left:28px;
  top:83px;
}
#u117_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u117.b {
  left:28px;
  top:83px;
}
#u117_text.b {
}
#u118.b {
  left:636px;
}
#u118_img.b {
}
#u118.b {
  left:636px;
}
#u119.b {
  left:203px;
  top:176px;
  width:387px;
}
#u119_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u119.b {
  left:203px;
  top:176px;
  width:387px;
}
#u119_text.b {
  width:387px;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:478px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u116.c {
  width:478px;
}
#u116_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:656px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116.c {
  width:478px;
}
#u117.c {
  left:24px;
  width:109px;
  height:19px;
}
#u117_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u117.c {
  left:24px;
  width:109px;
  height:19px;
}
#u117_text.c {
  width:109px;
}
#u118.c {
  left:396px;
  top:77px;
}
#u118_img.c {
}
#u118.c {
  left:396px;
  top:77px;
}
#u119.c {
  left:125px;
  top:160px;
  width:256px;
}
#u119_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u119.c {
  left:125px;
  top:160px;
  width:256px;
}
#u119_text.c {
  width:256px;
}
