.ax_default {
	text-align: center; color: rgb(51, 51, 51); line-height: normal; font-family: "Arial"; font-size: 13px; font-style: normal; font-weight: 400;
}
.box_1 {
	
}
.box_2 {
	
}
.box_3 {
	
}
.ellipse {
	
}
.shape {
	
}
.image {
	
}
.placeholder {
	
}
.button {
	
}
.primary_button {
	color: rgb(255, 255, 255);
}
.link_button {
	color: rgb(22, 155, 213);
}
.heading_1 {
	text-align: left; font-family: "Arial"; font-size: 32px; font-style: normal; font-weight: bold;
}
.heading_2 {
	text-align: left; font-family: "Arial"; font-size: 24px; font-style: normal; font-weight: bold;
}
.heading_3 {
	text-align: left; font-family: "Arial"; font-size: 18px; font-style: normal; font-weight: bold;
}
.heading_4 {
	text-align: left; font-family: "Arial"; font-size: 14px; font-style: normal; font-weight: bold;
}
.heading_5 {
	text-align: left; font-family: "Arial"; font-style: normal; font-weight: bold;
}
.heading_6 {
	text-align: left; font-family: "Arial"; font-size: 10px; font-style: normal; font-weight: bold;
}
.label {
	text-align: left; font-size: 14px;
}
.paragraph {
	text-align: left;
}
.line {
	
}
.text_field {
	text-align: left; color: rgb(0, 0, 0);
}
.html_button {
	text-align: center;
}
.connector {
	
}
.menu_item {
	line-height: normal;
}
.icon {
	
}
.flow_shape {
	
}
.new_style {
	
}
.new_style1 {
	
}
