body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:656px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:656px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:67px;
  width:50px;
  height:42px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:200px;
  width:21px;
  height:21px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:230px;
  width:21px;
  height:21px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:290px;
  width:21px;
  height:21px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:260px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:70px;
  width:463px;
  height:260px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:260px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:70px;
  width:457px;
  height:260px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:190px;
  width:219px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:190px;
  width:223px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:250px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:330px;
  width:919px;
  height:250px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:373px;
  width:30px;
  height:44px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:358px;
  width:1px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:260px;
  width:21px;
  height:21px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:320px;
  width:21px;
  height:21px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:612px;
  width:48px;
  height:25px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:16px;
  width:48px;
  height:25px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:254px;
  width:180px;
  height:40px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:254px;
  width:180px;
  height:40px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:117px;
  width:47px;
  height:43px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:124px;
  width:47px;
  height:36px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:374px;
  width:253px;
  height:50px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:249px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:213px;
  width:50px;
  height:36px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:179px;
  width:50px;
  height:43px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:79px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:77px;
  height:79px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u67.a {
}
#u67_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:656px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67.a {
}
#u68.a {
  left:1191px;
  width:49px;
}
#u68_img.a {
  width:49px;
}
#u68.a {
  left:1191px;
  width:49px;
}
#u69.a {
}
#u69_img.a {
}
#u69.a {
}
#u70.a {
}
#u70_img.a {
}
#u70.a {
}
#u71.a {
}
#u71_img.a {
}
#u71.a {
}
#u72.a {
  width:461px;
}
#u72_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:260px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72.a {
  width:461px;
}
#u73.a {
  left:651px;
  width:458px;
}
#u73_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:260px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73.a {
  left:651px;
  width:458px;
}
#u74.a {
}
#u74_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74.a {
}
#u74_text.a {
}
#u75.a {
  left:790px;
}
#u75_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75.a {
  left:790px;
}
#u75_text.a {
}
#u76.a {
  width:920px;
}
#u76_img.a {
  width:920px;
}
#u76.a {
  width:920px;
}
#u77.a {
}
#u77_img.a {
}
#u77.a {
}
#u78.a {
}
#u78_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78.a {
}
#u79.a {
}
#u79_img.a {
}
#u79.a {
}
#u80.a {
}
#u80_img.a {
}
#u80.a {
}
#u82.a {
}
#u82_img.a {
}
#u82.a {
}
#u83.a {
}
#u83_img.a {
}
#u83.a {
}
#u84.a {
  left:348px;
}
#u84_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84.a {
  left:348px;
}
#u84_text.a {
}
#u85.a {
  left:848px;
}
#u85_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85.a {
  left:848px;
}
#u85_text.a {
}
#u86.a {
  left:890px;
}
#u86_img.a {
}
#u86.a {
  left:890px;
}
#u87.a {
}
#u87_img.a {
}
#u87.a {
}
#u88.a {
}
#u88_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u88.a {
}
#u88_text.a {
}
#u89.a {
}
#u89_img.a {
}
#u89.a {
}
#u90.a {
}
#u90_img.a {
}
#u90.a {
}
#u91.a {
}
#u91_img.a {
}
#u91.a {
}
#u91_text.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u67.b {
  width:1024px;
}
#u67_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:656px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67.b {
  width:1024px;
}
#u68.b {
  left:925px;
  width:49px;
}
#u68_img.b {
  width:49px;
}
#u68.b {
  left:925px;
  width:49px;
}
#u69.b {
  left:943px;
}
#u69_img.b {
}
#u69.b {
  left:943px;
}
#u70.b {
  left:943px;
}
#u70_img.b {
}
#u70.b {
  left:943px;
}
#u71.b {
  left:943px;
}
#u71_img.b {
}
#u71.b {
  left:943px;
}
#u72.b {
  top:115px;
  width:338px;
  height:209px;
}
#u72_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:209px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72.b {
  top:115px;
  width:338px;
  height:209px;
}
#u73.b {
  left:528px;
  top:115px;
  width:362px;
  height:209px;
}
#u73_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:209px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73.b {
  left:528px;
  top:115px;
  width:362px;
  height:209px;
}
#u74.b {
  left:224px;
  top:215px;
}
#u74_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74.b {
  left:224px;
  top:215px;
}
#u74_text.b {
}
#u75.b {
  left:609px;
  top:215px;
  height:37px;
}
#u75_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75.b {
  left:609px;
  top:215px;
  height:37px;
}
#u75_text.b {
}
#u76.b {
  top:324px;
  width:700px;
  height:224px;
}
#u76_img.b {
  width:700px;
  height:224px;
}
#u76.b {
  top:324px;
  width:700px;
  height:224px;
}
#u77.b {
  left:210px;
  top:334px;
  width:25px;
}
#u77_img.b {
  width:25px;
}
#u77.b {
  left:210px;
  top:334px;
  width:25px;
}
#u78.b {
}
#u78_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78.b {
}
#u79.b {
  left:943px;
}
#u79_img.b {
}
#u79.b {
  left:943px;
}
#u80.b {
  left:943px;
}
#u80_img.b {
}
#u80.b {
  left:943px;
}
#u82.b {
  left:480px;
}
#u82_img.b {
}
#u82.b {
  left:480px;
}
#u83.b {
  left:480px;
}
#u83_img.b {
}
#u83.b {
  left:480px;
}
#u84.b {
  left:281px;
  top:262px;
  width:108px;
}
#u84_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84.b {
  left:281px;
  top:262px;
  width:108px;
}
#u84_text.b {
  width:104px;
}
#u85.b {
  left:664px;
  top:262px;
  width:108px;
}
#u85_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85.b {
  left:664px;
  top:262px;
  width:108px;
}
#u85_text.b {
  width:104px;
}
#u86.b {
  left:689px;
  top:169px;
  width:38px;
}
#u86_img.b {
  width:38px;
}
#u86.b {
  left:689px;
  top:169px;
  width:38px;
}
#u87.b {
  left:277px;
  top:203px;
  width:38px;
}
#u87_img.b {
  width:38px;
}
#u87.b {
  left:277px;
  top:203px;
  width:38px;
}
#u88.b {
  left:247px;
  top:334px;
  width:207px;
}
#u88_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u88.b {
  left:247px;
  top:334px;
  width:207px;
}
#u88_text.b {
  width:203px;
}
#u89.b {
  left:310px;
  top:159px;
}
#u89_img.b {
}
#u89.b {
  left:310px;
  top:159px;
}
#u90.b {
  left:689px;
  top:156px;
}
#u90_img.b {
}
#u90.b {
  left:689px;
  top:156px;
}
#u91.b {
}
#u91_img.b {
}
#u91.b {
}
#u91_text.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u67.c {
  width:768px;
}
#u67_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:656px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67.c {
  width:768px;
}
#u68.c {
  left:709px;
  width:49px;
}
#u68_img.c {
  width:49px;
}
#u68.c {
  left:709px;
  width:49px;
}
#u69.c {
  left:720px;
}
#u69_img.c {
}
#u69.c {
  left:720px;
}
#u70.c {
  left:720px;
}
#u70_img.c {
}
#u70.c {
  left:720px;
}
#u71.c {
  left:720px;
}
#u71_img.c {
}
#u71.c {
  left:720px;
}
#u72.c {
  left:110px;
  top:115px;
  width:278px;
  height:209px;
}
#u72_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:209px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72.c {
  left:110px;
  top:115px;
  width:278px;
  height:209px;
}
#u73.c {
  left:388px;
  top:115px;
  width:267px;
  height:209px;
}
#u73_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:209px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73.c {
  left:388px;
  top:115px;
  width:267px;
  height:209px;
}
#u74.c {
  left:168px;
  top:200px;
  width:186px;
  height:28px;
}
#u74_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74.c {
  left:168px;
  top:200px;
  width:186px;
  height:28px;
}
#u74_text.c {
  width:186px;
}
#u75.c {
  left:440px;
  top:200px;
  width:174px;
  height:28px;
}
#u75_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75.c {
  left:440px;
  top:200px;
  width:174px;
  height:28px;
}
#u75_text.c {
  width:174px;
}
#u76.c {
  left:110px;
  top:325px;
  width:547px;
  height:216px;
}
#u76_img.c {
  width:547px;
  height:216px;
}
#u76.c {
  left:110px;
  top:325px;
  width:547px;
  height:216px;
}
#u77.c {
  left:144px;
  top:331px;
  width:23px;
}
#u77_img.c {
  width:23px;
}
#u77.c {
  left:144px;
  top:331px;
  width:23px;
}
#u78.c {
}
#u78_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78.c {
}
#u79.c {
  left:720px;
}
#u79_img.c {
}
#u79.c {
  left:720px;
}
#u80.c {
  left:720px;
}
#u80_img.c {
}
#u80.c {
  left:720px;
}
#u82.c {
  left:370px;
  top:605px;
}
#u82_img.c {
}
#u82.c {
  left:370px;
  top:605px;
}
#u83.c {
  left:370px;
}
#u83_img.c {
}
#u83.c {
  left:370px;
}
#u84.c {
  left:202px;
  top:250px;
  width:95px;
}
#u84_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84.c {
  left:202px;
  top:250px;
  width:95px;
}
#u84_text.c {
  width:91px;
}
#u85.c {
  left:479px;
  top:250px;
  width:96px;
}
#u85_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85.c {
  left:479px;
  top:250px;
  width:96px;
}
#u85_text.c {
  width:92px;
}
#u86.c {
  left:504px;
  top:180px;
  width:48px;
}
#u86_img.c {
  width:48px;
}
#u86.c {
  left:504px;
  top:180px;
  width:48px;
}
#u87.c {
  left:228px;
  top:183px;
  width:42px;
}
#u87_img.c {
  width:42px;
}
#u87.c {
  left:228px;
  top:183px;
  width:42px;
}
#u88.c {
  left:176px;
  top:335px;
  width:263px;
  height:34px;
}
#u88_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u88.c {
  left:176px;
  top:335px;
  width:263px;
  height:34px;
}
#u88_text.c {
  top:9px;
  width:259px;
}
#u89.c {
  left:233px;
  top:151px;
  width:44px;
}
#u89_img.c {
  width:44px;
}
#u89.c {
  left:233px;
  top:151px;
  width:44px;
}
#u90.c {
  left:501px;
  top:144px;
}
#u90_img.c {
}
#u90.c {
  left:501px;
  top:144px;
}
#u91.c {
}
#u91_img.c {
}
#u91.c {
}
#u91_text.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u67.d {
  width:480px;
}
#u67_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:656px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67.d {
  width:480px;
}
#u68.d {
  left:411px;
  top:25px;
  width:49px;
}
#u68_img.d {
  width:49px;
}
#u68.d {
  left:411px;
  top:25px;
  width:49px;
}
#u69.d {
  left:720px;
}
#u69_img.d {
}
#u69.d {
  left:720px;
}
#u70.d {
  left:720px;
}
#u70_img.d {
}
#u70.d {
  left:720px;
}
#u71.d {
  left:720px;
}
#u71_img.d {
}
#u71.d {
  left:720px;
}
#u72.d {
  left:90px;
  top:130px;
  width:161px;
  height:209px;
}
#u72_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:209px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72.d {
  left:90px;
  top:130px;
  width:161px;
  height:209px;
}
#u73.d {
  left:249px;
  top:130px;
  width:161px;
  height:209px;
}
#u73_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:209px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73.d {
  left:249px;
  top:130px;
  width:161px;
  height:209px;
}
#u74.d {
  left:112px;
  top:228px;
  width:98px;
  height:16px;
}
#u74_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74.d {
  left:112px;
  top:228px;
  width:98px;
  height:16px;
}
#u74_text.d {
  width:98px;
}
#u75.d {
  left:291px;
  top:227px;
  width:95px;
  height:16px;
}
#u75_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75.d {
  left:291px;
  top:227px;
  width:95px;
  height:16px;
}
#u75_text.d {
  width:95px;
}
#u76.d {
  left:90px;
  top:339px;
  width:320px;
  height:166px;
}
#u76_img.d {
  width:320px;
  height:166px;
}
#u76.d {
  left:90px;
  top:339px;
  width:320px;
  height:166px;
}
#u77.d {
  left:111px;
  top:359px;
}
#u77_img.d {
}
#u77.d {
  left:111px;
  top:359px;
}
#u78.d {
}
#u78_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78.d {
}
#u79.d {
  left:720px;
}
#u79_img.d {
}
#u79.d {
  left:720px;
}
#u80.d {
  left:720px;
}
#u80_img.d {
}
#u80.d {
  left:720px;
}
#u82.d {
  left:216px;
  top:605px;
}
#u82_img.d {
}
#u82.d {
  left:216px;
  top:605px;
}
#u83.d {
  left:216px;
}
#u83_img.d {
}
#u83.d {
  left:216px;
}
#u84.d {
  left:112px;
  top:275px;
  width:98px;
}
#u84_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84.d {
  left:112px;
  top:275px;
  width:98px;
}
#u84_text.d {
  width:94px;
}
#u85.d {
  left:291px;
  top:275px;
  width:99px;
}
#u85_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85.d {
  left:291px;
  top:275px;
  width:99px;
}
#u85_text.d {
  width:95px;
}
#u86.d {
  left:299px;
  top:180px;
  width:24px;
}
#u86_img.d {
  width:24px;
}
#u86.d {
  left:299px;
  top:180px;
  width:24px;
}
#u87.d {
  left:162px;
  top:183px;
  width:21px;
}
#u87_img.d {
  width:21px;
}
#u87.d {
  left:162px;
  top:183px;
  width:21px;
}
#u88.d {
  left:143px;
  top:368px;
  width:178px;
  height:26px;
}
#u88_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u88.d {
  left:143px;
  top:368px;
  width:178px;
  height:26px;
}
#u88_text.d {
  top:6px;
  width:174px;
}
#u89.d {
  left:138px;
  top:164px;
  width:44px;
}
#u89_img.d {
  width:44px;
}
#u89.d {
  left:138px;
  top:164px;
  width:44px;
}
#u90.d {
  left:323px;
  top:161px;
}
#u90_img.d {
}
#u90.d {
  left:323px;
  top:161px;
}
#u91.d {
}
#u91_img.d {
}
#u91.d {
}
#u91_text.d {
}
