body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1278px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:656px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:656px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:86px;
  width:191px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:50px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:85px;
  width:44px;
  height:50px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:141px;
  width:442px;
  height:448px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1278px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u119.a {
}
#u119_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:656px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119.a {
}
#u120.a {
  left:92px;
}
#u120_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u120.a {
  left:92px;
}
#u120_text.a {
}
#u121.a {
  left:1013px;
}
#u121_img.a {
}
#u121.a {
  left:1013px;
}
#u122.a {
}
#u122_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u122.a {
}
#u122_text.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1022px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u119.b {
  width:1022px;
}
#u119_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:656px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119.b {
  width:1022px;
}
#u120.b {
  left:13px;
}
#u120_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u120.b {
  left:13px;
}
#u120_text.b {
}
#u121.b {
  left:892px;
}
#u121_img.b {
}
#u121.b {
  left:892px;
}
#u122.b {
  left:347px;
  width:387px;
}
#u122_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u122.b {
  left:347px;
  width:387px;
}
#u122_text.b {
  width:387px;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:766px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u119.c {
  width:766px;
}
#u119_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:656px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119.c {
  width:766px;
}
#u120.c {
  left:12px;
  top:83px;
}
#u120_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u120.c {
  left:12px;
  top:83px;
}
#u120_text.c {
}
#u121.c {
  left:643px;
}
#u121_img.c {
}
#u121.c {
  left:643px;
}
#u122.c {
  left:203px;
  top:176px;
  width:387px;
}
#u122_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u122.c {
  left:203px;
  top:176px;
  width:387px;
}
#u122_text.c {
  width:387px;
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:478px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u119.d {
  width:478px;
}
#u119_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:656px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119.d {
  width:478px;
}
#u120.d {
  left:12px;
  width:109px;
  height:19px;
}
#u120_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u120.d {
  left:12px;
  width:109px;
  height:19px;
}
#u120_text.d {
  width:109px;
}
#u121.d {
  left:393px;
  top:77px;
}
#u121_img.d {
}
#u121.d {
  left:393px;
  top:77px;
}
#u122.d {
  left:125px;
  top:160px;
  width:256px;
}
#u122_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u122.d {
  left:125px;
  top:160px;
  width:256px;
}
#u122_text.d {
  width:256px;
}
