body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1278px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:655px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:655px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:68px;
  width:50px;
  height:42px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:199px;
  width:18px;
  height:21px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:267px;
  width:18px;
  height:21px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:302px;
  width:18px;
  height:21px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:234px;
  width:18px;
  height:21px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:198px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:127px;
  width:765px;
  height:198px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:198px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:326px;
  width:765px;
  height:198px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:326px;
  width:314px;
  height:198px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:349px;
  width:88px;
  height:22px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:402px;
  width:266px;
  height:61px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:127px;
  width:313px;
  height:198px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:150px;
  width:88px;
  height:22px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:203px;
  width:263px;
  height:61px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:336px;
  width:18px;
  height:21px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:612px;
  width:48px;
  height:25px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:16px;
  width:48px;
  height:25px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:766px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u24.a {
  left:-256px;
}
#u24_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:655px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.a {
  left:-256px;
}
#u25.a {
  left:953px;
  width:40px;
}
#u25_img.a {
  width:40px;
}
#u25.a {
  left:953px;
  width:40px;
}
#u26.a {
  left:966px;
}
#u26_img.a {
}
#u26.a {
  left:966px;
}
#u27.a {
  left:966px;
}
#u27_img.a {
}
#u27.a {
  left:966px;
}
#u28.a {
  left:966px;
}
#u28_img.a {
}
#u28.a {
  left:966px;
}
#u29.a {
  left:966px;
}
#u29_img.a {
}
#u29.a {
  left:966px;
}
#u30.a {
  width:604px;
}
#u30_img.a {
  width:604px;
}
#u30.a {
  width:604px;
}
#u31.a {
  width:538px;
}
#u31_img.a {
  width:538px;
}
#u31.a {
  width:538px;
}
#u32.a {
}
#u32_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32.a {
}
#u33.a {
}
#u33_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.a {
}
#u33_text.a {
}
#u34.a {
  left:86px;
  width:210px;
}
#u34_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.a {
  left:86px;
  width:210px;
}
#u34_text.a {
  width:210px;
}
#u35.a {
  left:663px;
  width:246px;
}
#u35_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.a {
  left:663px;
  width:246px;
}
#u36.a {
  left:690px;
}
#u36_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.a {
  left:690px;
}
#u36_text.a {
}
#u37.a {
  left:679px;
  width:208px;
}
#u37_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.a {
  left:679px;
  width:208px;
}
#u37_text.a {
  width:208px;
}
#u38.a {
  left:967px;
}
#u38_img.a {
}
#u38.a {
  left:967px;
}
#u40.a {
  left:480px;
}
#u40_img.a {
}
#u40.a {
  left:480px;
}
#u41.a {
  left:480px;
}
#u41_img.a {
}
#u41.a {
  left:480px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:512px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u24.b {
  left:-253px;
  width:1018px;
}
#u24_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:655px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.b {
  left:-253px;
  width:1018px;
}
#u25.b {
  left:718px;
  width:29px;
}
#u25_img.b {
  width:29px;
}
#u25.b {
  left:718px;
  width:29px;
}
#u26.b {
  left:727px;
}
#u26_img.b {
}
#u26.b {
  left:727px;
}
#u27.b {
  left:727px;
}
#u27_img.b {
}
#u27.b {
  left:727px;
}
#u28.b {
  left:727px;
}
#u28_img.b {
}
#u28.b {
  left:727px;
}
#u29.b {
  left:727px;
}
#u29_img.b {
}
#u29.b {
  left:727px;
}
#u30.b {
  width:445px;
}
#u30_img.b {
  width:445px;
}
#u30.b {
  width:445px;
}
#u31.b {
  left:288px;
  width:397px;
}
#u31_img.b {
  width:397px;
}
#u31.b {
  left:288px;
  width:397px;
}
#u32.b {
  width:231px;
}
#u32_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32.b {
  width:231px;
}
#u33.b {
  left:84px;
}
#u33_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.b {
  left:84px;
}
#u33_text.b {
}
#u34.b {
  left:78px;
  width:155px;
}
#u34_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.b {
  left:78px;
  width:155px;
}
#u34_text.b {
  width:155px;
}
#u35.b {
  left:504px;
  width:181px;
}
#u35_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.b {
  left:504px;
  width:181px;
}
#u36.b {
  left:524px;
}
#u36_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.b {
  left:524px;
}
#u36_text.b {
}
#u37.b {
  left:516px;
  width:153px;
}
#u37_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.b {
  left:516px;
  width:153px;
}
#u37_text.b {
  width:153px;
}
#u38.b {
  left:728px;
}
#u38_img.b {
}
#u38.b {
  left:728px;
}
#u40.b {
  left:370px;
  top:605px;
}
#u40_img.b {
}
#u40.b {
  left:370px;
  top:605px;
}
#u41.b {
  left:370px;
}
#u41_img.b {
}
#u41.b {
  left:370px;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:223px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u24.c {
  left:-255px;
  width:733px;
}
#u24_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:655px;
  background:-webkit-linear-gradient(270deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(244, 244, 247, 1) 0%, rgba(244, 244, 247, 1) 100%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.c {
  left:-255px;
  width:733px;
}
#u25.c {
  left:408px;
  width:39px;
}
#u25_img.c {
  width:39px;
}
#u25.c {
  left:408px;
  width:39px;
}
#u26.c {
  left:727px;
}
#u26_img.c {
}
#u26.c {
  left:727px;
}
#u27.c {
  left:727px;
}
#u27_img.c {
}
#u27.c {
  left:727px;
}
#u28.c {
  left:727px;
}
#u28_img.c {
}
#u28.c {
  left:727px;
}
#u29.c {
  left:727px;
}
#u29_img.c {
}
#u29.c {
  left:727px;
}
#u30.c {
  width:253px;
}
#u30_img.c {
  width:253px;
}
#u30.c {
  width:253px;
}
#u31.c {
  left:188px;
  width:268px;
}
#u31_img.c {
  width:268px;
}
#u31.c {
  left:188px;
  width:268px;
}
#u32.c {
  width:131px;
}
#u32_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32.c {
  width:131px;
}
#u33.c {
  left:72px;
}
#u33_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.c {
  left:72px;
}
#u33_text.c {
}
#u34.c {
  left:69px;
  width:88px;
}
#u34_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.c {
  left:69px;
  width:88px;
}
#u34_text.c {
  width:88px;
}
#u35.c {
  left:310px;
  width:146px;
}
#u35_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.c {
  left:310px;
  width:146px;
}
#u36.c {
  left:326px;
}
#u36_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36.c {
  left:326px;
}
#u36_text.c {
}
#u37.c {
  left:320px;
  width:123px;
}
#u37_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.c {
  left:320px;
  width:123px;
}
#u37_text.c {
  width:123px;
}
#u38.c {
  left:728px;
}
#u38_img.c {
}
#u38.c {
  left:728px;
}
#u40.c {
  left:216px;
}
#u40_img.c {
}
#u40.c {
  left:216px;
}
#u41.c {
  left:216px;
}
#u41_img.c {
}
#u41.c {
  left:216px;
}
